*{
    margin: 0%;
    padding:0%;
    box-sizing:border-box;
    font-family: 'Aldrich', sans-serif;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4CBB17;
    height: 100vh;
    width: 100%;
}



#headerContainer{
    background-color: aqua;
    color: rgb(255, 255, 255); 
    font-size: 30px;
    text-align: center;
    
}

#formBox{
    width: 100%;
    height: 100%;
    background-color: #4CBB17;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input[type=text]{
    background-color: #ffffff;
    color:#4CBB17;
    margin: 0px 0px 5px;
    height: 46px;
    width: 100vh;
    border-radius: 10px;
    border: #ffffff solid 2px;
    font-size: 20px;
    text-align: center;
}

::placeholder{
    color:#4CBB17;
    opacity: .7;
    text-align: center;
}
input:focus{
  box-shadow: #ffffff 0 0 0 1.5px inset, rgb(4,106,56) 0 2px 4px, rgba(4,106,56, 0.3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
  outline-color: #181d17;
  outline-style: solid;
  outline-width: 4px;
  background-color: #ffffff;
  color:#4CBB17;
 
}
#textareaDiv{
    background-color: #ffffff;
    color:#4CBB17;
    margin: 0px 0px 5px;
    height: 45vh;
    width: 100vh;
    border-radius: 10px;
    border: #ffffff solid 2px;
    font-size: 20px;
    text-align: center;
}

textarea{
    background-color: #ffffff;
    color:#4CBB17;
    margin: 0px 0px 5px;
    height: 25vh;
    width: 100vh;
    border-radius: 10px;
    border: #ffffff solid 2px;
    font-size: 20px;
    text-align: left;
}