*{
    margin: 0%;
    padding:0%;
    box-sizing:border-box;
    font-family: 'Aldrich', sans-serif;
}


#mainContainer{
    background-color: #4CBB17;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#headerContainer{
  color: rgb(255, 255, 255);
  
  font-size: 30px;
  text-align: center;
}
#loginSignup{
  
  color: #ffffff;
  position: relative;
  top: 11%;
}
#formContainer{
  background-color: #4CBB17;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 50vh;
  height: 50vh;  
  display:flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: #4CBB17 0 0 0 1.5px inset, rgb(255, 255, 255) 0 1px 1px, rgb(255, 255, 255) 0 1px 13px -3px, #4CBB17 0 -3px 0 inset;
  outline-color: #4CBB17;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 5%;
}

input[type=text]{
    background-color: #ffffff;
    color:#4CBB17;
    margin: 0px 0px 5px;
    height: 46px;
    width: 55%;
    border-radius: 10px;
    border: #ffffff solid 2px;
    font-size: 20px;
    text-align: center;
}

::placeholder{
    color:#4CBB17;
    opacity: .7;
    
}
input:focus{
  box-shadow: #ffffff 0 0 0 1.5px inset, rgb(4,106,56) 0 2px 4px, rgba(4,106,56, 0.3) 0 7px 13px -3px, #ffffff 0 -3px 0 inset;
  outline-color: #181d17;
  outline-style: solid;
  outline-width: 4px;
  background-color: #ffffff;
  color:#4CBB17;
 
}

#buttonContainer{
  margin-top: 9px;

}
.button-82-pushable {
  position: relative;
  border: none;
  padding-top: 300px;
  background: transparent; 
  background: #4CBB17;
  padding: 10px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Aldrich', sans-serif;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #fafafa;
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* background: linear-gradient(
    to left,
    rgb(167, 167, 167) 0%,
    rgb(167, 167, 167) 8%,
    rgb(167, 167, 167) 92%,
    rgb(167, 167, 167) 100%
  ); */
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: #fdfdfd;
  background: #4CBB17;
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
    
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
  
  
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
    background-color: black;
    color:#4CBB17
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
  
  